*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/shared/src/commonMain/kotlin/cz/jankotas/translator/NetworkConstants.kt
/iosApp/iosApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
